<% @items.each do |item| %>
<% p=@items.first %>
<% @l=p.category %>
<% end %>
<div class="box" style="width:1150px;">
                        <h1><%= @l %>
						</h1>
                    </div>
					
					

<br>
<style>
p.price {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
	}
	</style>
<div style="margin-left:0px;width:auto;min-height:600px;overflow:hidden">

    <% @items.each do |item| %>
	<div id="content1" style="margin-left:15px;position:relative;float:left;width:270px">
	  <div class="image" style="height:203px;width:270px">
	  <%= link_to (image_tag item.image_url, :style => "height:203px;width:270px"), item %>
	  </div>
	  <div style="height:222px;width:203px;background-color:white;margin-top:-19px">
	  <h3 style="font-size: 18px;font-weight: 700;height: 39.6px;text-align: center;overflow: hidden;"><br><%= link_to item.title, item %></h3> 
	  <p class="price"><%= number_to_currency(item.price, :unit => "€") %></p>
	  <p class="buttons">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default">View detail</a>
										</p>
										<p class="button">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="/cart/<%= item.id %>" class="btn btn-primary" style="color:white;"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
	  <br><br>
	  <% if current_user.admin? %>
	  <%= link_to 'Edit', edit_item_path(item) %> |
	  <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
	  <%= link_to 'New Item', new_item_path %>
	  <% end %>
	  </div>
	  </div>
	  <% end %>
</div>
