<style>
		/* styles unrelated to zoom */
		
	
		.zoom {
			display:inline-block;
			position: relative;
		}
		
		/* magnifying glass icon */
		.zoom:after {
			content:'';
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:0;
			right:0;
			background:url(icon.png);
		}

		.zoom img {
			display: block;
		}

		.zoom img::selection { background-color: transparent; }

		
	</style>
<script>
		$(document).ready(function(){
			$('#ex1').zoom();
			
		});
	</script>
<div class="row" id="productMain">
                        <div class="col-sm-6">
                            <div id="mainImage" style="height:400px;">
					
							<div class='zoom' id='ex1'>
                                <img src="/assets/<%= @item.image_url %>" alt=""  height="400" width="500" >
								</div>
							</div>

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                        </div>
						
                        <div class="col-sm-6">
                            <div class="box">
                                <h1 class="text-center"><%= @item.title %></h1>
                                <p class="goToDescription" style="text-align:center"><a href="#details" class="scroll-to"><%= @item.description %></a>
                                </p>
                                <p class="price" style="text-align:center;font-size:25px">$<%= @item.price %></p>

                                <p class="text-center buttons">
								<br><br>
                                    <a href="/cart/<%= @item.id %>" class="btn btn-primary" style="color:white;"><i class="fa fa-shopping-cart"></i> Add to cart</a> 
                                    <a href="basket.html" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>
                                </p>


                            </div>

                            <div class="row" id="thumbs">
                                <div class="col-xs-4">
                                    <a href="img/detailbig1.jpg" class="thumb">
                                        <img src="img/detailsquare.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="img/detailbig2.jpg" class="thumb">
                                        <img src="img/detailsquare2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="img/detailbig3.jpg" class="thumb">
                                        <img src="img/detailsquare3.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
					<div class="box" id="details">
                        <p>
                            <h4>Product details</h4>
                            <p><%= @item.description %></p>
                            
                            <div class="social">
                                <h4>Show it to your friends</h4>
                                <p>
                                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </p>
                            </div>
                    </div>

					
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

